@font-face{
	font-family: "Subway";
	src: url(../fonts/SubwayLogo.ttf);
}

h1{
	font-family: "Subway";
}

html,body,.container-fluid{
	height:100%;
}
.container{
	width:100;
}

col{
	height:100vh;
}

#Tools{
	text-align: center;
	font-family: "Subway";
}
#Canvas{
	text-align: center;
	font-family: "Subway";
}

#Tutorial{
	text-align: center;
	font-family: "Subway";
}

.border1{
	background-color: lightblue;
	margin-top:10px;
	border: black medium solid;
	border-radius: 10px;
	height: calc(100vh - 100px);
}

.border2{
	background-color: lightyellow;
	margin-top:10px;
	border: black medium solid;
	border-radius: 10px;
	height: calc(100vh - 100px);

}
.border3{
	background-color: lightblue;
	margin-top:10px;
	border: black medium solid;
	border-radius: 10px;
	height: calc(100vh - 100px);
}

img {
  width: 100px;
  height: 100px;
}

.puzzlePieces {
	height: 30%;
	width: 30%;
  float: left;
}

.puzzlePieces>img {
  width: 90%;
  height: 90%;
	
}

#photonTool {
  transform: rotate(90deg);
}

#USB {
	transform:rotate(180deg);
}

#LEDDown{
	position: relative;
	transform: rotate(90deg);
	width: 10%;
	height: 10%;
	clear: left;
	top: 30px;
}
 #LEDUp{
 	position: relative;
 	transform: rotate(-90deg);
 	width: 10%;
 	height: 10%;
 	float: left;
 	top: 30px;
 }
 
 #LEDBulb {
 	position: relative;
 	clear: left;
 	top: 40px;
 }
 #LEDBulb>img {
 	  	transform: rotate(180deg);

 }
